.stall-card {
  width: 130px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background-color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

.stall-card:hover {
  transform: scale(1.05);
}

.stall-card.selected {
  background-color: #86efac;
}

.stall-card.reserved {
  background-color: #d1d5db;
  cursor: not-allowed;
}
