@import "tailwindcss";
@import url('https://fonts.googleapis.com');

@theme {
  --font-sans: 'Poppins', sans-serif;
}

:root {
  --primary-color: #0f172a;       
  --primary-hover: #1e293b;
  --secondary-color: #f59e0b;     
  --accent-color: #3b82f6;        

  --status-available: #00D100;    
  --status-reserved: #9ca3af;    
  --status-selected: #008000;     
  --status-error: #ef4444;       

  --bg-body: #f8fafc;             
  --bg-card: #ffffff;             
  --text-main: #1e293b;           
  --text-muted: #64748b;          
  --border-color: #e2e8f0;

  --container-width: 1200px;
  --radius-md: 8px;
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

*, *::before, *::after {
  box-sizing: border-box; 
}

body {
  margin: 0;
  font-family: 'Poppins', system-ui, -apple-system, sans-serif;
  background-color: var(--bg-body);
  color: var(--text-main);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}



.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px; 
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: var(--radius-md);
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
}